<div id="<%= dom_id hospital %>">
  <p>
    <strong>Name:</strong>
    <%= hospital.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hospital.address %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= hospital.creation_date %>
  </p>

</div>
