<div id="<%= dom_id doctor %>">
  <p>
    <strong>Full name:</strong>
    <%= doctor.full_name %>
  </p>

  <p>
    <strong>Date of joining:</strong>
    <%= doctor.date_of_joining %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department_id %>
  </p>

</div>
